<style>
    @import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
  </style>
  
  <app-header id="header"></app-header>
  
  <!-- some sort of introduction of SInja ig idk-->
  <div class="container-fluid" style="height: 100vh; margin-bottom: 15vh;">
    <div class="row" style="height: 100%;">
      <div class="col-lg-7" style="font-family:'Lora';padding-left: 15vw;">
        <p style="color:darkslategrey;margin-top: 30vh; font-size: 450%; letter-spacing: 20px;">
          WHY NOT <br> SINJA?
        </p>
        <p style="width: 35vw;">I mean, what do you really have to lose, commmoonnn, give the underdog a chance, you know when people 
          say tha the youth is our future and that u should support them, this is your chance, support the youth, now.
        </p>
      </div>
      <div style=" height: 100%;background-size: cover ;background-image: url('assets/imgs/SinjaPanda.jpeg');" class="col-lg-5 us"></div>
    </div>
  </div>
  <!-- a bit more introduction about Sinja-->

  <div class="container-fluid" style="height: 100vh;">
    <div class="row" style="height: 100%;">
      <div class="col-lg-1"></div>
      <div style=" height: 100%;background-size: cover ;background-image: url('assets/imgs/SinjaToo.jpg');" class="col-lg-4 us"></div>  
      <div class="col-lg-7" style="font-family:'Lora';padding-left: 15vw;">
        <p style="color:darkslategrey;margin-top: 30vh; font-size: 450%; letter-spacing: 20px;">
          SINJA <br> TEKAVEC
        </p>
        <p style="width: 35vw;">
          What do you mean you have better options?!?! No you dont, not with that budget grandpa...
        </p>
      </div>
    </div>
  </div>


  <!--very deep quote ya know....idk brother-->

  <div class="container-fluid" style="height: 65vh; margin-top: 35vh;">
    <p style="color:darkslategrey;margin-top: 30vh; font-size: 200%; letter-spacing: 20px;width: 50vw; margin: auto;
    font-family: 'Lora'; border-top: 1px solid black; border-bottom: 1px solid black; padding:3vh;">
      "I HAVE GONE THRU THE STORM AND NOW I HAVE SEEN THE LIGHT"
    </p>
    <p style="text-align: right; margin-right: 20vw; margin-top: 5vh;">-Sinja Tekavec</p>
  </div>
  
  <!-- Gallery Links ig -->
  
  <app-gallery-links></app-gallery-links>
  

  
  <!-- random eastetic pictures-->
  <div id="image-container" class="row" style="height: 160vh;">
    <div style="margin-left: 12vw; margin-top: 10vw;" class="col-lg-5">
    <img  width="100%" data-lazy="assets/imgs/homophobic_dog.png">
   </div>
  
   <div style="margin-left: 5vw; margin-top: 15vw;" class="col-lg-4">
    <img  width="100%" data-lazy="assets/imgs/slendy.jpg">
   </div>
  
   <div style="margin-left: 9vw; margin-top: -15vw;" class="col-lg-4">
    <img  width="100%" height="80%" data-lazy="assets/imgs/jesus-thumbs-up21.jpg">
   </div>
  </div>
  
  <!-- footer wow -->
  
  <app-footer id="footer"></app-footer>
  
  <style>
  
  img{
    position: relative;
    z-index: 1;
    opacity: 0;
    transform: translateY(50%);
    transition: all 1s;
  }
  
  .fade{
    transform: translateY(0);
    opacity: 1.0;
    transition: all 1s;
  }

  .us{
    background-image: url("../../assets/imgs/homophobic_dog.png");
  }
  
  </style>
