
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<style>
  @import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
</style>

<app-header></app-header>

<div class="container-fluid" style="font-family: 'Lora', serif; background-color: #FFEEEE; width: 100%; height: 87vh;justify-content: center; display: flex;">
  <div>
  <p style="margin-top: 40vh; font-size: 450%; letter-spacing: 20px; border-top: 1px solid black; border-image: linear-gradient(to right, #000 80%, transparent 20%) 100% 1;">
    SINJA TEKAVEC
  </p>
  <p style="font-size: 120%; letter-spacing: 5px;">
    Enlighten your mind
  </p>
  </div>
</div>

<router-outlet></router-outlet>
