<style>
  @import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
</style>

<div class="container-fluid" [style.top]="headerVisible ? '0' : '-100px'" style="position:fixed;z-index:10;transition: top 0.3s; ;background-color: #FFEEEE;  padding-left: 0px;padding-right:0px; border: 1px solid black; border-left: none; border-top: none; border-right:none;">
<nav class="navbar navbar-expand-lg bg-body-tertiary" style="margin:0px; padding: 0px; position: sticky;background-color: #FFEEEE; font-family: 'Lora', serif">
    <div class="logo-holder container-fluid" style="background-color: #FFEEEE; padding: 0px; margin: 0px;"   >

      <div style="height: 13vh;border: 1px solid black; border-bottom:none;border-left:none;border-top: none;">  
      <a class="navbar-brand" style=" padding-left: 100px; padding-right: 100px;" href="#">
        <img style="margin: 0px; padding: 0px;" height="95vh" src="..\assets\imgs\logo.png">
      </a>
    </div>

      <!-- another -->

      <nav class="navbar navbar-expand-lg bg-body-tertiary" style="margin:0px; padding: 0px;">
        <div class="container-fluid" style="background-color: #FFEEEE;">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item hover-border"
               style="margin-right: 40px;">
                <a class=" nav-link" routerLink = '/about' >ABOUT ME</a>
              </li>
              <li class="nav-item hover-border">
                <a class="nav-link" routerLink = '/gallery'>GALLERY</a>
              </li>
              <li class="nav-item hover-border" style="margin-left: 40px;">
                <a class="nav-link" href="#">PROJECTS</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>


        <!--Contacts -->

        <a class="logo-holder" href="#footer"
        [style.background-color]="backgroundColor"
        [style.color]="fontColot"
        (mouseenter)="onMouseEnter()"
        (mouseleave)="onMouseLeave()" style="text-decoration:none;height: 13vh;border: 1px solid black;border-right:none;border-top: none;">  
        
        <div style="margin-top: 4.2vh"> 
        <div style="padding-left: 100px; padding-right: 100px; font-size: 130%;" >
          <p >CONTACT</p>
        </div>
        </div>

      </a>

    </div>
  </nav>

<style>
  .logo-holder{transition: background-color 0.3s ease;}

  .hover-border {
  position: relative;
}

.hover-border::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px; /* Initial border height, adjust as needed */
  background-color: #000000; /* Border color when active */
  transform: scaleX(0); /* Initial scale to make it disappear */
  transform-origin: right; /* Start scaling from the right */
  transition: transform 0.3s, height 0.3s; /* Add transition effects */
}

.hover-border:hover::after {
  transform: scaleX(1); /* When hovered, scale the border to its full width */
  transform-origin: left; /* Start scaling from the left */
  height: 1px; /* Border height when hovered, adjust as needed */
}

</style>