<nav class="nav is--tan"
    style="transform: translate3d(0em, 0em, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d; will-change: transform;">
    <a href="/" aria-current="page" class="nav__logo-wrap w-inline-block w--current"><img
            src="https://uploads-ssl.webflow.com/62e98df28b0daaa839e14de5/62eadeb08542111cfab182cc_gg-logomark.svg"
            loading="lazy" style="opacity: 1;" alt="GG logo" class="gg-logomark"></a>
    <div class="nav__menu-wrap">
        <div style="opacity: 1;" class="menu__wrap"><a data-w-id="05bd40b4-7829-ad29-bc37-7099de122375" href="/about-us"
                class="nav-link w-inline-block">
                <div>About Us</div>
                <div style="opacity: 0; transform: translate3d(-100%, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;"
                    class="nav-link__underline"></div>
            </a><a data-w-id="05bd40b4-7829-ad29-bc37-7099de122379" href="/projects" class="nav-link w-inline-block">
                <div>Projects</div>
                <div style="opacity: 0; transform: translate3d(-100%, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;"
                    class="nav-link__underline"></div>
            </a><a data-w-id="05bd40b4-7829-ad29-bc37-7099de12237d" href="/gallery" class="nav-link w-inline-block">
                <div>Gallery</div>
                <div style="opacity: 0; transform: translate3d(-100%, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;"
                    class="nav-link__underline"></div>
            </a><a data-w-id="05bd40b4-7829-ad29-bc37-7099de122381" href="/services" class="nav-link w-inline-block">
                <div>Services</div>
                <div style="opacity: 0; transform: translate3d(-100%, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;"
                    class="nav-link__underline"></div>
            </a><a data-w-id="05bd40b4-7829-ad29-bc37-7099de122385" href="/partnerships"
                class="nav-link w-inline-block">
                <div>Partnerships</div>
                <div style="opacity: 0; transform: translate3d(-100%, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;"
                    class="nav-link__underline"></div>
            </a></div>
        <div data-w-id="05bd40b4-7829-ad29-bc37-7099de122389" class="hamburger-wrap">
            <div data-w-id="05bd40b4-7829-ad29-bc37-7099de12238a"
                style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;"
                class="ham"></div>
            <div data-w-id="05bd40b4-7829-ad29-bc37-7099de12238b"
                style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;"
                class="ham is--bottom"></div>
        </div>
    </div><a data-w-id="05bd40b4-7829-ad29-bc37-7099de12238c" style="background-color: rgb(255, 255, 255); opacity: 1;"
        href="/contact-us" class="nav__main-cta-wrap is--white w-inline-block">
        <div class="text-link">
            <div data-w-id="05bd40b4-7829-ad29-bc37-7099de12238e" style="color: rgb(33, 33, 33);">Get In Touch</div>
            <div style="transform: translate3d(0%, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); background-color: rgb(33, 33, 33); transform-style: preserve-3d;"
                class="text-link__underline">
            </div>
        </div>
    </a>
</nav>